@page
@model ATravelersGuideToSerdan.Pages.Character.Create.Step2Model
@*@model ATravelersGuideToSerdan.ViewModels.CreateNpc2ViewModel*@
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>@Model.Message</h1>
<hr />
<form method="post">
    <div class="form-group row">
        <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="@Model.Npc.NpcsMother"></label>
        <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1"><button class="btn btn-sm btn-dark">Välj Moder</button></div>
        <input class="col-md-9 col-9 col-xl-9 col-lg-9 col-sm-9" asp-for="@Model.Npc.NpcsMother" />
        <span asp-validation-for="@Model.Npc.NpcsMother"></span>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="@Model.Npc.NpcsFather"></label>
        <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1"><button class="btn btn-sm btn-dark">Välj Fader</button></div>
        <input class="col-md-9 col-9 col-xl-9 col-lg-9 col-sm-9" asp-for="@Model.Npc.NpcsFather" />
        <span asp-validation-for="@Model.Npc.NpcsFather"></span>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="@Model.Npc.NpcsSerdanEdlosiChildren"></label>
        <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1"><button class="btn btn-sm btn-dark">Välj Barn</button></div>
        <input class="col-md-9 col-9 col-xl-9 col-lg-9 col-sm-9" asp-for="@Model.Npc.NpcsSerdanEdlosiChildren" />
        <span asp-validation-for="@Model.Npc.NpcsSerdanEdlosiChildren"></span>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="@Model.Npc.NpcsRegularChildren"></label>
        <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1"><button class="btn btn-sm btn-dark">Välj Barn</button></div>
        <input class="col-md-9 col-9 col-xl-9 col-lg-9 col-sm-9" asp-for="@Model.Npc.NpcsRegularChildren" />
        <span asp-validation-for="@Model.Npc.NpcsRegularChildren"></span>
    </div>
    <button type="submit" class="btn btn-dark">go to step3</button>
</form>