@page
@model ATravelersGuideToSerdan.Pages.Character.Create.Step1Model
@*@model ATravelersGuideToSerdan.ViewModels.CreateNpc1ViewModel*@

<h1>@Model.Headline</h1>
<p>@Model.Message</p>
<hr />
<form method="post">
    <div class="form-group row">
        <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="@Model.Npc.NpcName"></label>
        <input class="col-md-10 col-10 col-xl-10 col-lg-10 col-sm-2" asp-for="@Model.Npc.NpcName" />
        <span asp-validation-for="@Model.Npc.NpcName"></span>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="@Model.Npc.NpcEvenKnownAs"></label>
        <input class="col-md-10 col-10 col-xl-10 col-lg-10 col-sm-2" asp-for="@Model.Npc.NpcEvenKnownAs" />
        <span asp-validation-for="@Model.Npc.NpcEvenKnownAs"></span>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="@Model.Npc.NpcAlias"></label>
        <input class="col-md-10 col-10 col-xl-10 col-lg-10 col-sm-2" asp-for="@Model.Npc.NpcAlias" />
        <span asp-validation-for="@Model.Npc.NpcAlias"></span>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="@Model.Npc.NpcDescriptivePhrase"></label>
        <input class="col-md-10 col-10 col-xl-10 col-lg-10 col-sm-2" asp-for="@Model.Npc.NpcDescriptivePhrase" />
        <span asp-validation-for="@Model.Npc.NpcDescriptivePhrase"></span>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="@Model.Npc.NpcLooks"></label>
        <input class="col-md-10 col-10 col-xl-10 col-lg-10 col-sm-2" asp-for="@Model.Npc.NpcLooks" />
        <span asp-validation-for="@Model.Npc.NpcLooks"></span>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="@Model.Npc.NpcDescription"></label>
        <input class="col-md-10 col-10 col-xl-10 col-lg-10 col-sm-2" asp-for="@Model.Npc.NpcDescription" />
        <span asp-validation-for="@Model.Npc.NpcDescription"></span>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="@Model.Npc.NpcCurrentResidence"></label>
        <input class="col-md-10 col-10 col-xl-10 col-lg-10 col-sm-2" asp-for="@Model.Npc.NpcCurrentResidence" />
        <span asp-validation-for="@Model.Npc.NpcCurrentResidence"></span>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="@Model.Npc.NpcRace"></label>
        <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1"><button class="btn btn-sm btn-dark">Välj ras</button></div>
        <input class="col-md-9 col-9 col-xl-9 col-lg-9 col-sm-9" asp-for="@Model.Npc.NpcRace" />
        <span asp-validation-for="@Model.Npc.NpcRace"></span>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="@Model.Npc.NpcFamily"></label>
        <input class="col-md-10 col-10 col-xl-10 col-lg-10 col-sm-2" asp-for="@Model.Npc.NpcFamily" />
        <span asp-validation-for="@Model.Npc.NpcFamily"></span>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="@Model.Npc.NpcArchetyp"></label>
        <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1"><button class="btn btn-sm btn-dark">Välj Urtyp</button></div>
        <input class="col-md-9 col-9 col-xl-9 col-lg-9 col-sm-9" asp-for="@Model.Npc.NpcArchetyp" />
        <span asp-validation-for="@Model.Npc.NpcArchetyp"></span>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="@Model.Npc.NpcKilledBy"></label>
        <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1"><button class="btn btn-sm btn-dark">Välj person</button></div>
        <input class="col-md-9 col-9 col-xl-9 col-lg-9 col-sm-9" asp-for="@Model.Npc.NpcKilledBy" />
        <span asp-validation-for="@Model.Npc.NpcKilledBy"></span>
    </div>
   
    <button type="submit" class="btn btn-dark">Gå till nästa steg.</button>
</form>