@page
@model ATravelersGuideToSerdan.Pages.Character.CreatePlayer.CreatePlayerStep1Model
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>@Model.Headline</h1>
<p>@Model.Message</p>
<p>@Model.ErrorMessage</p>
<hr />
<form method="post">
    <div class="container-fluid table-bordered">
        <div class="form-group row">
            <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="PlayingCharacter.CharacterName"></label>
            <input class="col-md-10 col-10 col-xl-10 col-lg-10 col-sm-2 form-control" asp-for="PlayingCharacter.CharacterName" />
            <span asp-validation-for="@Model.PlayingCharacter.CharacterName"></span>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="@Model.PlayingCharacter.PlayerName"></label>
            <input class="col-md-10 col-10 col-xl-10 col-lg-10 col-sm-2 form-control" asp-for="@Model.PlayingCharacter.PlayerName" />
            <span asp-validation-for="@Model.PlayingCharacter.PlayerName"></span>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="@Model.PlayingCharacter.CharacterDescription"></label>
            <input class="col-md-10 col-10 col-xl-10 col-lg-10 col-sm-2 form-control" asp-for="@Model.PlayingCharacter.CharacterDescription" />
            <span asp-validation-for="@Model.PlayingCharacter.CharacterDescription"></span>
        </div>
    </div>


    <div class="container-fluid table-bordered">
        <div class="row">
            <h2>Egenskaper   </h2>
            <span>Antal poäng kvar att sätta ut:</span>
            <div id="CreationPoints">

                <input type="text" class="form-control" id="remainingPoints" value="@Model.PlayingCharacter.RemainingPoints" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">Egenskap</div>
            <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1">Tot./Uts.</div>
            <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1">@*knappar*@</div>
            <div class="col-md-8 col-8 col-xl-8 col-lg-8 col-sm-8">
                <div class="row">
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">Förmåga</div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">Värde</div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">UtsättsPoäng</div>
                    <div class="col-md-3 col-3 col-xl-3 col-lg-3 col-sm-3">@*knappar*@</div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1">TP.</div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1">xTP.</div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1">TTP.</div>
                </div>
            </div>
            @*<div class="col-md-1">ExP</div>
                <div class="col-md-2">Talanger</div>
                <div class="col-md-1">TTp</div>
                <div class="col-md-2">Färdigheter</div>
                <div class="col-md-1"></div>*@

        </div>

        <div class="row table-bordered">
            <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                <label asp-for="@Model.PlayingCharacter.KoordinationMotorikTot"></label>
            </div>
            <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="KoordinationMotorik">
                <input type="text" id="KoordinationMotorikTot" value=@Model.PlayingCharacter.KoordinationMotorikTot asp-for="@Model.PlayingCharacter.KoordinationMotorikTot" class="form-control" />/<input type="text" id="KoordinationMotorikUts" value=@Model.PlayingCharacter.KoordinationMotorikUts asp-for="@Model.PlayingCharacter.KoordinationMotorikUts" class="form-control" />
            </div>
            <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1">
                <input type="button" onclick="IncreaseAttrib('KoordinationMotorikTot','KoordinationMotorikUts', 'KoordinationMotorik','KoordinationMotorikPoangAttSattaUt')" class="btn btn-success" value="Öka" />
                <input type="button" onclick="DecreaseAttrib('KoordinationMotorikTot','KoordinationMotorikUts', 'KoordinationMotorik','KoordinationMotorikPoangAttSattaUt')" class="btn btn-danger" value="Minska" id="longerButtons" />
            </div>
            <div class="col-md-8 col-8 col-xl-8 col-lg-8 col-sm-8">
                <div class="row table-bordered">
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                        <label asp-for="@Model.PlayingCharacter.WeaponValue"></label>
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentWeaponValue">
                        <input type="text" id="WeaponValue" value="@Model.PlayingCharacter.WeaponValue" class="form-control" />
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentKoordinationMotorikPoangAttSattaUt">
                        <input type="text" id="KoordinationMotorikPoangAttSattaUt" value="50" class="form-control" />
                    </div>
                    <div class="col-md-3 col-3 col-xl-3 col-lg-3 col-sm-3">

                        <input type="button" onclick="IncreaseSubAttribute('WeaponValue','KoordinationMotorikPoangAttSattaUt','WeaponTP','WeaponExP','WeaponTTP')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('WeaponValue','KoordinationMotorikPoangAttSattaUt','WeaponTP','WeaponExP','WeaponTTP')" class="btn btn-danger" value="Minska" id="longerButtons"/>
                    </div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="ParentWeaponTP">
                        <input type="text" id="WeaponTP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="ParentWeaponExP">
                        <input type="text" id="WeaponExP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="ParentWeaponTTP">
                        <input type="text" id="WeaponTTP" value="0" class="form-control" />
                    </div>

                </div>
                <div class="row table-bordered">
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                        <label asp-for="@Model.PlayingCharacter.BalisticValue"></label>

                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentBalisticValue">
                        <input type="text" id="BalisticValue" value="@Model.PlayingCharacter.BalisticValue" class="form-control" />
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2"></div>
                    <div class="col-md-3 col-3 col-xl-3 col-lg-3 col-sm-3">
                        <input type="button" onclick="IncreaseSubAttribute('BalisticValue','KoordinationMotorikPoangAttSattaUt','BalisticTP','BalisticExP','BalisticTTP')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('BalisticValue','KoordinationMotorikPoangAttSattaUt','BalisticTP','BalisticExP','BalisticTTP')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="ParentBalisticTP">
                        <input type="text" id="BalisticTP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="ParentBalisticExp">
                        <input type="text" id="BalisticExP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="ParentBalisticTTP">
                        <input type="text" id="BalisticTTP" value="0" class="form-control" />
                    </div>
                </div>
                <div class="row table-bordered">
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                        <label asp-for="@Model.PlayingCharacter.FineMotorValue"></label>

                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentFineMotorValue">
                        <input type="text" id="FineMotorValue" value="@Model.PlayingCharacter.FineMotorValue" class="form-control" />
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2"></div>
                    <div class="col-md-3 col-3 col-xl-3 col-lg-3 col-sm-3">
                        <input type="button" onclick="IncreaseSubAttribute('FineMotorValue','KoordinationMotorikPoangAttSattaUt','FineMotorTP','FineMotorExP','FineMotorTTP')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('FineMotorValue','KoordinationMotorikPoangAttSattaUt','FineMotorTP','FineMotorExP','FineMotorTTP')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="ParentFineMotorTP">
                        <input type="text" id="FineMotorTP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="ParentFineMotorExP">
                        <input type="text" id="FineMotorExP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="ParentFineMotorTTP">
                        <input type="text" id="FineMotorTTP" value="0" class="form-control" />
                    </div>
                </div>
            </div>
        </div>


        <div class="row table-bordered">
            <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                <label asp-for="@Model.PlayingCharacter.PhysiqueTot"></label>
            </div>
            <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="Fysik">
                <input type="text" id="PhysiqueTot" value="@Model.PlayingCharacter.PhysiqueTot" class="form-control" />/<input type="text" id="PhysiqueUts" value="@Model.PlayingCharacter.PhysiqueUts" class="form-control" />
            </div>
            <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1">
                <input type="button" onclick="IncreaseAttrib('PhysiqueTot','PhysiqueUts','Fysik','FysikPoangAttSattaUt')" class="btn btn-success" value="Öka" />
                <input type="button" onclick="DecreaseAttrib('PhysiqueTot','PhysiqueUts','Fysik','FysikPoangAttSattaUt')" class="btn btn-danger" value="Minska" id="longerButtons" />
            </div>
            <div class="col-md-8">
                <div class="row table-bordered">
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                        <label asp-for="@Model.PlayingCharacter.PhysicsValue"></label>
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentPhysicsValue">
                        <input type="text" id="PhysicsValue" value="@Model.PlayingCharacter.PhysicsValue" class="form-control" />
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentFysikPoangAttSattaUt">
                        <input type="text" id="FysikPoangAttSattaUt" value="50" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('PhysicsValue','FysikPoangAttSattaUt','PhysicTP','PhysicExP','PhysicTTP')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('PhysicsValue','FysikPoangAttSattaUt','PhysicTP','PhysicExP','PhysicTTP')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentPhysicTP">
                        <input type="text" id="PhysicTP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentPhysicExP">
                        <input type="text" id="PhysicExP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentPhysicTTP">
                        <input type="text" id="PhysicTTP" value="0" class="form-control" />
                    </div>

                </div>
                <div class="row table-bordered">
                    <div class="col-md-2">
                        <label asp-for="@Model.PlayingCharacter.StrenghtValue"></label>

                    </div>
                    <div class="col-md-2" id="ParentStrenghtValue">
                        <input type="text" id="StrenghtValue" value="@Model.PlayingCharacter.StrenghtValue" class="form-control" />
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('StrenghtValue','FysikPoangAttSattaUt','StrenghtTP','StrenghtExP','StrenghtTTP')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('StrenghtValue','FysikPoangAttSattaUt','StrenghtTP','StrenghtExP','StrenghtTTP')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentStrenghtTP">
                        <input type="text" id="StrenghtTP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentStrenghtExP">
                        <input type="text" id="StrenghtExP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentStrenghtTTP">
                        <input type="text" id="StrenghtTTP" value="0" class="form-control" />
                    </div>
                </div>

                <div class="row table-bordered">
                    <div class="col-md-2">
                        <label asp-for="@Model.PlayingCharacter.MobilityValue"></label>

                    </div>
                    <div class="col-md-2" id="ParentMobilityValue">
                        <input type="text" id="MobilityValue" value="@Model.PlayingCharacter.MobilityValue" class="form-control" />
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('MobilityValue','FysikPoangAttSattaUt','MobilityTP','MobilityExP','MobilityTTP')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('MobilityValue','FysikPoangAttSattaUt','MobilityTP','MobilityExP','MobilityTTP')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentMobilityTP">
                        <input type="text" id="MobilityTP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentMobilityExP">
                        <input type="text" id="MobilityExP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentMobilityTTP">
                        <input type="text" id="MobilityTTP" value="0" class="form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row table-bordered">
            <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                <label asp-for="@Model.PlayingCharacter.PsykeTot"></label>
            </div>
            <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="Psyke">
                <input type="text" id="PsykeTot" value="@Model.PlayingCharacter.PsykeTot" class="form-control" />/<input type="text" id="PsykeUts" value="@Model.PlayingCharacter.PsykeUts" class="form-control" />
            </div>
            <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1">
                <input type="button" onclick="IncreaseAttrib('PsykeTot','PsykeUts','Psyke','PsykePoangAttSattaUt')" class="btn btn-success" value="Öka" />
                <input type="button" onclick="DecreaseAttrib('PsykeTot','PsykeUts','Psyke','PsykePoangAttSattaUt')" class="btn btn-danger" value="Minska" id="longerButtons" />
            </div>
            <div class="col-md-8">
                <div class="row table-bordered">
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                        <label asp-for="@Model.PlayingCharacter.WillValue"></label>
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentWillValue">
                        <input type="text" id="WillValue" value="@Model.PlayingCharacter.WillValue" class="form-control" />
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentPsykePoangAttSattaUt">
                    <input type="text" id="PsykePoangAttSattaUt" value="50" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('WillValue','PsykePoangAttSattaUt','WillTP','WillExP','WillTTP')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('WillValue','PsykePoangAttSattaUt','WillTP','WillExP','WillTTP')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentWillTP">
                        <input type="text" id="WillTP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentWillExP">
                        <input type="text" id="WillExP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentWillTTP">
                        <input type="text" id="WillTTP" value="0" class="form-control" />
                    </div>

                </div>
                <div class="row table-bordered">
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                        <label asp-for="@Model.PlayingCharacter.CreativityValue"></label>

                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentCreativityValue">
                        <input type="text" id="CreativityValue" value="@Model.PlayingCharacter.CreativityValue" class="form-control" />
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2"></div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('CreativityValue','PsykePoangAttSattaUt','CreativityTP','CreativityExP','CreativityTTP')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('CreativityValue','PsykePoangAttSattaUt','CreativityTP','CreativityExP','CreativityTTP')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentCreativityTP">
                        <input type="text" id="CreativityTP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentCreativityExP">
                        <input type="text" id="CreativityExP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentCreativityTTP">
                        <input type="text" id="CreativityTTP" value="0" class="form-control" />
                    </div>
                </div>
                <div class="row table-bordered">
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                        <label asp-for="@Model.PlayingCharacter.EducationValue"></label>

                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentEducationValue">
                        <input type="text" id="EducationValue" value="@Model.PlayingCharacter.EducationValue" class="form-control" />
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2"></div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('EducationValue','PsykePoangAttSattaUt','EducationTP','EducationExP','EducationTTP')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('EducationValue','PsykePoangAttSattaUt','EducationTP','EducationExP','EducationTTP')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentEducationTP">
                        <input type="text" id="EducationTP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentEducationExP">
                        <input type="text" id="EducationExP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentEducationTTP">
                        <input type="text" id="EducationTTP" value="0" class="form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row table-bordered">
            <div class="col-md-2">
                <label asp-for="@Model.PlayingCharacter.PerceptionTot"></label>
            </div>
            <div class="col-md-1" id="Perception">
                <input type="text" id="PerceptionTot" value="@Model.PlayingCharacter.PerceptionTot" class="form-control" />/<input type="text" id="PerceptionUts" value="@Model.PlayingCharacter.PerceptionUts" class="form-control" />
            </div>
            <div class="col-md-1">
                <input type="button" onclick="IncreaseAttrib('PerceptionTot','PerceptionUts','Perception','PerceptionPoangAttSattaUt')" class="btn btn-success" value="Öka" />
                <input type="button" onclick="DecreaseAttrib('PerceptionTot','PerceptionUts','Perception','PerceptionPoangAttSattaUt')" class="btn btn-danger" value="Minska" id="longerButtons" />
            </div>
            <div class="col-md-8">
                <div class="row table-bordered">
                    <div class="col-md-2">
                        <label asp-for="@Model.PlayingCharacter.IntuitionValue"></label>
                    </div>
                    <div class="col-md-2" id="ParentIntuitionValue">
                        <input type="text" id="IntuitionValue" value="@Model.PlayingCharacter.IntuitionValue" class="form-control" />
                    </div>
                    <div class="col-md-2" id="ParentPerceptionPoangAttSattaUt">
                    <input type="text" id="PerceptionPoangAttSattaUt" value="50" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('IntuitionValue','PerceptionPoangAttSattaUt','PerceptionTP','PerceptionExP','PerceptionTTP')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('IntuitionValue','PerceptionPoangAttSattaUt','PerceptionTP','PerceptionExP','PerceptionTTP')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentPerceptionTP">
                        <input type="text" id="PerceptionTP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentPerceptionExP">
                        <input type="text" id="PerceptionExP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentPerceptionTTP">
                        <input type="text" id="PerceptionTTP" value="0" class="form-control" />
                    </div>

                </div>
                <div class="row table-bordered">
                    <div class="col-md-2">
                        <label asp-for="@Model.PlayingCharacter.MagicVisionValue"></label>

                    </div>
                    <div class="col-md-2" id="ParentMagicVisionValue">
                        <input type="text" id="MagicVisionValue" value="@Model.PlayingCharacter.MagicVisionValue" class="form-control" />
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('MagicVisionValue','PerceptionPoangAttSattaUt','MagicVisionTP','MagicVisionExP','MagicVisionTTP')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('MagicVisionValue','PerceptionPoangAttSattaUt','MagicVisionTP','MagicVisionExP','MagicVisionTTP')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentMagicVisionTP">
                        <input type="text" id="MagicVisionTP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentMagicVisionExP">
                        <input type="text" id="MagicVisionTP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentMagicVisionTTP">
                        <input type="text" id="MagicVisionTTP" value="0" class="form-control" />
                    </div>
                </div>
                <div class="row table-bordered">
                    <div class="col-md-2">
                        <label asp-for="@Model.PlayingCharacter.AttentionValue"></label>

                    </div>
                    <div class="col-md-2" id="ParentAttentionValue">
                        <input type="text" id="AttentionValue" value="@Model.PlayingCharacter.AttentionValue" class="form-control" />
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('AttentionValue','PerceptionPoangAttSattaUt','AttentionTP','AttentionExP','AttentionTTP')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('AttentionValue','PerceptionPoangAttSattaUt','AttentionTP','AttentionExP','AttentionTTP')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentAttentionTP">
                        <input type="text" id="AttentionTP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentAttentionExP">
                        <input type="text" id="AttentionExP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentAttentionTTP">
                        <input type="text" id="AttentionTTP" value="0" class="form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row table-bordered">
            <div class="col-md-2">
                <label asp-for="@Model.PlayingCharacter.SocialTot"></label>
            </div>
            <div class="col-md-1" id="Sociala">
                <input type="text" id="SocialTot" value="@Model.PlayingCharacter.SocialTot" class="form-control" />/<input type="text" id="SocialUts" value="@Model.PlayingCharacter.SocialUts" class="form-control" />
            </div>
            <div class="col-md-1">
                <Input type="button" onclick="IncreaseAttrib('SocialTot','SocialUts','Sociala','SocialaPoangAttSattaUt')" class="btn btn-success" value="Öka" />
                <input type="button" onclick="DecreaseAttrib('SocialTot','SocialUts','Sociala','SocialaPoangAttSattaUt')" class="btn btn-danger" value="Minska" id="longerButtons" />
            </div>
            <div class="col-md-8">
                <div class="row table-bordered">
                    <div class="col-md-2">
                        <label asp-for="@Model.PlayingCharacter.CharismaValue"></label>
                    </div>
                    <div class="col-md-2" id="ParentCharismaValue">
                        <input type="text" id="CharismaValue" value="@Model.PlayingCharacter.CharismaValue" class="form-control" />
                    </div>
                    <div class="col-md-2" id="ParentSocialaPoangAttSattaUt">
                    <input type="text" id="SocialaPoangAttSattaUt" value="50" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('CharismaValue','SocialaPoangAttSattaUt','CharismaTP','CharismaExP','CharismaTTP')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('CharismaValue','SocialaPoangAttSattaUt','CharismaTP','CharismaExP','CharismaTTP')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentCharismaTP">
                        <input type="text" id="CharismaTP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentCharismaExP">
                        <input type="text" id="CharismaExP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentCharismaTTP">
                        <input type="text" id="CharismaTTP" value="0" class="form-control" />
                    </div>

                </div>
                <div class="row table-bordered">
                    <div class="col-md-2">
                        <label asp-for="@Model.PlayingCharacter.InsightValue"></label>

                    </div>
                    <div class="col-md-2" id="ParentInsightValue">
                        <input type="text" id="InsightValue" value="@Model.PlayingCharacter.InsightValue" class="form-control" />
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('InsightValue','SocialaPoangAttSattaUt','InsightTP','InsightExP','InsightTTP')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('InsightValue','SocialaPoangAttSattaUt','InsightTP','InsightExP','InsightTTP')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentInsightTP">
                        <input type="text" id="InsightTP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentInsightExP">
                        <input type="text" id="InsightExP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentInsightTTP">
                        <input type="text" id="InsightTTP" value="0" class="form-control" />
                    </div>
                </div>
                <div class="row table-bordered">
                    <div class="col-md-2">
                        <label asp-for="@Model.PlayingCharacter.ResistanceValue"></label>

                    </div>
                    <div class="col-md-2" id="ParentResistanceValue">
                        <input type="text" id="ResistanceValue" value="@Model.PlayingCharacter.ResistanceValue" class="form-control" />
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('ResistanceValue','SocialaPoangAttSattaUt','ResistanceTP','ResistanceExP','ResistanceTTP')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('ResistanceValue','SocialaPoangAttSattaUt','ResistanceTP','ResistanceExP','ResistanceTTP')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentResistanceTP">
                        <input type="text" id="ResistanceTP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1"id="ParentResistanceExP">
                        <input type="text" id="ResistanceExP" value="0" class="form-control" />
                    </div>
                    <div class="col-md-1" id="ParentResistanceTTP">
                        <input type="text" id="ResistanceTTP" value="0" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid table-bordered">
        <div class="row">
            <h2>Färdigheter och Talanger</h2>
        </div>
        <div class="row">
            <div class="col-md-1">
                Förmåga
            </div>
            <div class="col-md-1">
                TTP.
            </div>
            <div class="col-md-5">
                Talanger
            </div>
            <div class="col-md-5">
                Färdigheter
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.WeaponValue"></label>
            </div>
            <div class="col-md-1">
                0
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.BalisticValue"></label>
            </div>
            <div class="col-md-1">
                0
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.FineMotorValue"></label>
            </div>
            <div class="col-md-1">
                0
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.PhysicsValue"></label>
            </div>
            <div class="col-md-1">
                0
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.StrenghtValue"></label>
            </div>
            <div class="col-md-1">
                0
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.MobilityValue"></label>
            </div>
            <div class="col-md-1">
                0
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.WillValue"></label>
            </div>
            <div class="col-md-1">
                0
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.CreativityValue"></label>
            </div>
            <div class="col-md-1">
                0
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.EducationValue"></label>
            </div>
            <div class="col-md-1">
                0
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.IntuitionValue"></label>
            </div>
            <div class="col-md-1">
                0
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.MagicVisionValue"></label>
            </div>
            <div class="col-md-1">
                0
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.AttentionValue"></label>
            </div>
            <div class="col-md-1">
                0
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.CharismaValue"></label>
            </div>
            <div class="col-md-1">
                0
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.InsightValue"></label>
            </div>
            <div class="col-md-1">
                0
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.ResistanceValue"></label>
            </div>
            <div class="col-md-1">
                0
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid table-bordered">
        <div class="row">
            <h2>Krafter</h2>
        </div>
        <div class="row">
            Här kan du välja krafter till din karaktär.
        </div>
        <div class="row">
            <select>
                <option id="1">Drakens</option>
                <option id="2">Enhörningen</option>
                <option id="3">Läkaren</option>
                <option id="4">Gripen</option>
                <option id="5">Mantikoran</option>
                <option id="6">Kroppen</option>
                <option id="7">Symbolen</option>
            </select>
            <select>
                <option>Novis</option>
                <option>Elev</option>
                <option>Lärare</option>
                <option>Mästare</option>
                <option>Exalterad</option>
                <option>Extrem</option>
            </select>
            <button class="btn btn-info">Lägg till en kraft till.</button>
        </div>
        <div class="row">


        </div>

    </div>

    <div class="container-fluid table-bordered">
        <div class="row">
            <h2>Magi</h2>
        </div>
    </div>
    <div class="container-fluid table-bordered">
        <div class="row">
            <h2>Kontakter</h2>
        </div>
        <div class="row">
            <select>
                <option label="drakekontakt"></option>
                @*<option label="@Model.PlayingCharacter.ContactDragon"></option>*@
            </select>
        </div>
    </div>
    <input type="submit" class="btn btn-danger" value="Skapa karaktär">
</form>

