@page
@model ATravelersGuideToSerdan.Pages.Character.CreatePlayer.CreatePlayerStep1Model
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>@Model.Headline</h1>
<p>@Model.Message</p>
<p>@Model.ErrorMessage</p>
<hr />
<form method="post">
    <div class="container-fluid table-bordered">
        <div class="form-group row">
            <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="PlayingCharacter.CharacterName"></label>
            <input class="col-md-10 col-10 col-xl-10 col-lg-10 col-sm-2 form-control" asp-for="PlayingCharacter.CharacterName" />
            <span asp-validation-for="@Model.PlayingCharacter.CharacterName"></span>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="@Model.PlayingCharacter.PlayerName"></label>
            <input class="col-md-10 col-10 col-xl-10 col-lg-10 col-sm-2 form-control" asp-for="@Model.PlayingCharacter.PlayerName" />
            <span asp-validation-for="@Model.PlayingCharacter.PlayerName"></span>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" asp-for="@Model.PlayingCharacter.CharacterDescription"></label>
            <input class="col-md-10 col-10 col-xl-10 col-lg-10 col-sm-2 form-control" asp-for="@Model.PlayingCharacter.CharacterDescription" />
            <span asp-validation-for="@Model.PlayingCharacter.CharacterDescription"></span>
        </div>
    </div>


    <div class="container-fluid table-bordered">
        <div class="row">
            <h2>Egenskaper   </h2>
            <span>Antal poäng kvar att sätta ut:</span>
            <div id="CreationPoints">

                <input type="text" class="form-control" id="remainingPoints" value="@Model.PlayingCharacter.RemainingPoints" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">Egenskap</div>
            <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1">Tot./Uts.</div>
            <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1">@*knappar*@</div>
            <div class="col-md-8 col-8 col-xl-8 col-lg-8 col-sm-8">
                <div class="row">
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">Förmåga</div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">Värde</div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">UtsättsPoäng</div>
                    <div class="col-md-3 col-3 col-xl-3 col-lg-3 col-sm-3">@*knappar*@</div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1">TP.</div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1">xTP.</div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1">TTP.</div>
                </div>
            </div>
            @*<div class="col-md-1">ExP</div>
                <div class="col-md-2">Talanger</div>
                <div class="col-md-1">TTp</div>
                <div class="col-md-2">Färdigheter</div>
                <div class="col-md-1"></div>*@

        </div>

        <div class="row table-bordered">
            <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                <label asp-for="@Model.PlayingCharacter.KoordinationMotorikTot"></label>
            </div>
            <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="KoordinationMotorik">
                <input type="text" id="KoordinationMotorikTot" value=@Model.PlayingCharacter.KoordinationMotorikTot asp-for="@Model.PlayingCharacter.KoordinationMotorikTot" class="form-control" />/<input type="text" id="KoordinationMotorikUts" value=@Model.PlayingCharacter.KoordinationMotorikUts asp-for="@Model.PlayingCharacter.KoordinationMotorikUts" class="form-control" />
            </div>
            <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1">
                <input type="button" onclick="IncreaseAttrib('KoordinationMotorikTot','KoordinationMotorikUts', 'KoordinationMotorik','KoordinationMotorikPoangAttSattaUt')" class="btn btn-success" value="Öka" />
                <input type="button" onclick="DecreaseAttrib('KoordinationMotorikTot','KoordinationMotorikUts', 'KoordinationMotorik','KoordinationMotorikPoangAttSattaUt')" class="btn btn-danger" value="Minska" id="longerButtons" />
            </div>
            <div class="col-md-8 col-8 col-xl-8 col-lg-8 col-sm-8">
                <div class="row table-bordered">
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                        <label asp-for="@Model.PlayingCharacter.WeaponValue"></label>
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentWeaponValue">
                        <input type="text" id="WeaponValue" value="@Model.PlayingCharacter.WeaponValue" class="form-control" asp-for="@Model.PlayingCharacter.WeaponValue" />
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentKoordinationMotorikPoangAttSattaUt">
                        <input type="text" id="KoordinationMotorikPoangAttSattaUt" value="50" class="form-control" />
                    </div>
                    <div class="col-md-3 col-3 col-xl-3 col-lg-3 col-sm-3">

                        <input type="button" onclick="IncreaseSubAttribute('WeaponValue','KoordinationMotorikPoangAttSattaUt','WeaponTp','WeaponExp','WeaponTTp')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('WeaponValue','KoordinationMotorikPoangAttSattaUt','WeaponTp','WeaponExp','WeaponTTp')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="ParentWeaponTp">
                        <input type="text" id="WeaponTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.WeaponTp" />
                    </div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="ParentWeaponExp">
                        <input type="text" id="WeaponExp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.WeaponExp" />
                    </div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="ParentWeaponTTp">
                        <input type="text" id="WeaponTTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.WeaponTTp" />
                    </div>

                </div>
                <div class="row table-bordered">
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                        <label asp-for="@Model.PlayingCharacter.BalisticValue"></label>

                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentBalisticValue">
                        <input type="text" id="BalisticValue" value="@Model.PlayingCharacter.BalisticValue" class="form-control" asp-for="@Model.PlayingCharacter.BalisticValue" />
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2"></div>
                    <div class="col-md-3 col-3 col-xl-3 col-lg-3 col-sm-3">
                        <input type="button" onclick="IncreaseSubAttribute('BalisticValue','KoordinationMotorikPoangAttSattaUt','BalisticTp','BalisticExp','BalisticTTp')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('BalisticValue','KoordinationMotorikPoangAttSattaUt','BalisticTp','BalisticExp','BalisticTTp')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="ParentBalisticTp">
                        <input type="text" id="BalisticTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.BalisticTp" />
                    </div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="ParentBalisticExp">
                        <input type="text" id="BalisticExp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.BalisticExp" />
                    </div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="ParentBalisticTTp">
                        <input type="text" id="BalisticTTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.BalisticTTp" />
                    </div>
                </div>
                <div class="row table-bordered">
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                        <label asp-for="@Model.PlayingCharacter.FineMotorValue"></label>

                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentFineMotorValue">
                        <input type="text" id="FineMotorValue" value="@Model.PlayingCharacter.FineMotorValue" class="form-control" asp-for="@Model.PlayingCharacter.FineMotorValue" />
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2"></div>
                    <div class="col-md-3 col-3 col-xl-3 col-lg-3 col-sm-3">
                        <input type="button" onclick="IncreaseSubAttribute('FineMotorValue','KoordinationMotorikPoangAttSattaUt','FineMotorTp','FineMotorExp','FineMotorTTp')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('FineMotorValue','KoordinationMotorikPoangAttSattaUt','FineMotorTp','FineMotorExp','FineMotorTTp')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="ParentFineMotorTp">
                        <input type="text" id="FineMotorTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.FineMotorTp" />
                    </div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="ParentFineMotorExp">
                        <input type="text" id="FineMotorExp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.FineMotorExp" />
                    </div>
                    <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="ParentFineMotorTTp">
                        <input type="text" id="FineMotorTTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.FineMotorTTp" />
                    </div>
                </div>
            </div>
        </div>


        <div class="row table-bordered">
            <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                <label asp-for="@Model.PlayingCharacter.PhysiqueTot"></label>
            </div>
            <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="Fysik">
                <input type="text" id="PhysiqueTot" value="@Model.PlayingCharacter.PhysiqueTot" class="form-control" asp-for="@Model.PlayingCharacter.PhysiqueTot" />
                /
                <input type="text" id="PhysiqueUts" value="@Model.PlayingCharacter.PhysiqueUts" class="form-control" asp-for="@Model.PlayingCharacter.PhysiqueUts" />
            </div>
            <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1">
                <input type="button" onclick="IncreaseAttrib('PhysiqueTot','PhysiqueUts','Fysik','FysikPoangAttSattaUt')" class="btn btn-success" value="Öka" />
                <input type="button" onclick="DecreaseAttrib('PhysiqueTot','PhysiqueUts','Fysik','FysikPoangAttSattaUt')" class="btn btn-danger" value="Minska" id="longerButtons" />
            </div>
            <div class="col-md-8">
                <div class="row table-bordered">
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                        <label asp-for="@Model.PlayingCharacter.PhysicsValue"></label>
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentPhysicsValue">
                        <input type="text" id="PhysicsValue" value="@Model.PlayingCharacter.PhysicsValue" class="form-control" asp-for="@Model.PlayingCharacter.PhysicsValue" />
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentFysikPoangAttSattaUt">
                        <input type="text" id="FysikPoangAttSattaUt" value="50" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('PhysicsValue','FysikPoangAttSattaUt','PhysicTp','PhysicExp','PhysicTTp')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('PhysicsValue','FysikPoangAttSattaUt','PhysicTp','PhysicExp','PhysicTTp')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentPhysicTp">
                        <input type="text" id="PhysicTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.PhysicsTp" />
                    </div>
                    <div class="col-md-1" id="ParentPhysicExp">
                        <input type="text" id="PhysicExp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.PhysicsExp" />
                    </div>
                    <div class="col-md-1" id="ParentPhysicTTp">
                        <input type="text" id="PhysicTTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.PhysicsTTp" />
                    </div>

                </div>
                <div class="row table-bordered">
                    <div class="col-md-2">
                        <label asp-for="@Model.PlayingCharacter.StrenghtValue"></label>

                    </div>
                    <div class="col-md-2" id="ParentStrenghtValue">
                        <input type="text" id="StrenghtValue" value="@Model.PlayingCharacter.StrenghtValue" class="form-control" asp-for="@Model.PlayingCharacter.StrenghtValue" />
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('StrenghtValue','FysikPoangAttSattaUt','StrenghtTp','StrenghtExp','StrenghtTTp')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('StrenghtValue','FysikPoangAttSattaUt','StrenghtTp','StrenghtExp','StrenghtTTp')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentStrenghtTp">
                        <input type="text" id="StrenghtTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.StrenghtValue" />
                    </div>
                    <div class="col-md-1" id="ParentStrenghtExp">
                        <input type="text" id="StrenghtExp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.StrenghtExp" />
                    </div>
                    <div class="col-md-1" id="ParentStrenghtTTp">
                        <input type="text" id="StrenghtTTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.StrenghtTTp" />
                    </div>
                </div>

                <div class="row table-bordered">
                    <div class="col-md-2">
                        <label asp-for="@Model.PlayingCharacter.MobilityValue"></label>

                    </div>
                    <div class="col-md-2" id="ParentMobilityValue">
                        <input type="text" id="MobilityValue" value="@Model.PlayingCharacter.MobilityValue" class="form-control" asp-for="@Model.PlayingCharacter.MobilityValue" />
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('MobilityValue','FysikPoangAttSattaUt','MobilityTp','MobilityExp','MobilityTTp')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('MobilityValue','FysikPoangAttSattaUt','MobilityTp','MobilityExp','MobilityTTp')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentMobilityTp">
                        <input type="text" id="MobilityTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.MobilityTp" />
                    </div>
                    <div class="col-md-1" id="ParentMobilityExp">
                        <input type="text" id="MobilityExp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.MobilityExp" />
                    </div>
                    <div class="col-md-1" id="ParentMobilityTTp">
                        <input type="text" id="MobilityTTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.MobilityTTp" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row table-bordered">
            <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                <label asp-for="@Model.PlayingCharacter.PsykeTot"></label>
            </div>
            <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1" id="Psyke">
                <input type="text" id="PsykeTot" value="@Model.PlayingCharacter.PsykeTot" class="form-control" asp-for="@Model.PlayingCharacter.PsykeTot" />
                /
                <input type="text" id="PsykeUts" value="@Model.PlayingCharacter.PsykeUts" class="form-control" asp-for="@Model.PlayingCharacter.PsykeUts" />
            </div>
            <div class="col-md-1 col-1 col-xl-1 col-lg-1 col-sm-1">
                <input type="button" onclick="IncreaseAttrib('PsykeTot','PsykeUts','Psyke','PsykePoangAttSattaUt')" class="btn btn-success" value="Öka" />
                <input type="button" onclick="DecreaseAttrib('PsykeTot','PsykeUts','Psyke','PsykePoangAttSattaUt')" class="btn btn-danger" value="Minska" id="longerButtons" />
            </div>
            <div class="col-md-8">
                <div class="row table-bordered">
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                        <label asp-for="@Model.PlayingCharacter.WillValue"></label>
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentWillValue">
                        <input type="text" id="WillValue" value="@Model.PlayingCharacter.WillValue" class="form-control" asp-for="@Model.PlayingCharacter.WillValue" />
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentPsykePoangAttSattaUt">
                        <input type="text" id="PsykePoangAttSattaUt" value="50" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('WillValue','PsykePoangAttSattaUt','WillTp','WillExp','WillTTp')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('WillValue','PsykePoangAttSattaUt','WillTp','WillExp','WillTTp')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentWillTp">
                        <input type="text" id="WillTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.WillTp" />
                    </div>
                    <div class="col-md-1" id="ParentWillExp">
                        <input type="text" id="WillExp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.WillExp" />
                    </div>
                    <div class="col-md-1" id="ParentWillTTp">
                        <input type="text" id="WillTTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.WillTTp" />
                    </div>

                </div>
                <div class="row table-bordered">
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                        <label asp-for="@Model.PlayingCharacter.CreativityValue"></label>

                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentCreativityValue">
                        <input type="text" id="CreativityValue" value="@Model.PlayingCharacter.CreativityValue" class="form-control" asp-for="@Model.PlayingCharacter.CreativityValue" />
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2"></div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('CreativityValue','PsykePoangAttSattaUt','CreativityTp','CreativityExp','CreativityTTp')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('CreativityValue','PsykePoangAttSattaUt','CreativityTp','CreativityExp','CreativityTTp')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentCreativityTp">
                        <input type="text" id="CreativityTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.CreativityTp" />
                    </div>
                    <div class="col-md-1" id="ParentCreativityExp">
                        <input type="text" id="CreativityExp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.CreativityExp" />
                    </div>
                    <div class="col-md-1" id="ParentCreativityTTp">
                        <input type="text" id="CreativityTTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.CreativityTTp" />
                    </div>
                </div>
                <div class="row table-bordered">
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2">
                        <label asp-for="@Model.PlayingCharacter.EducationValue"></label>

                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2" id="ParentEducationValue">
                        <input type="text" id="EducationValue" value="@Model.PlayingCharacter.EducationValue" class="form-control" asp-for="@Model.PlayingCharacter.EducationValue" />
                    </div>
                    <div class="col-md-2 col-2 col-xl-2 col-lg-2 col-sm-2"></div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('EducationValue','PsykePoangAttSattaUt','EducationTp','EducationExp','EducationTTp')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('EducationValue','PsykePoangAttSattaUt','EducationTp','EducationExp','EducationTTp')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentEducationTp">
                        <input type="text" id="EducationTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.EducationTp" />
                    </div>
                    <div class="col-md-1" id="ParentEducationExp">
                        <input type="text" id="EducationExp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.EducationExp" />
                    </div>
                    <div class="col-md-1" id="ParentEducationTTp">
                        <input type="text" id="EducationTTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.EducationTTp" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row table-bordered">
            <div class="col-md-2">
                <label asp-for="@Model.PlayingCharacter.PerceptionTot"></label>
            </div>
            <div class="col-md-1" id="Perception">
                <input type="text" id="PerceptionTot" value="@Model.PlayingCharacter.PerceptionTot" class="form-control" asp-for="@Model.PlayingCharacter.PerceptionTot" />
                /
                <input type="text" id="PerceptionUts" value="@Model.PlayingCharacter.PerceptionUts" class="form-control" asp-for="@Model.PlayingCharacter.PerceptionUts" />
            </div>
            <div class="col-md-1">
                <input type="button" onclick="IncreaseAttrib('PerceptionTot','PerceptionUts','Perception','PerceptionPoangAttSattaUt')" class="btn btn-success" value="Öka" />
                <input type="button" onclick="DecreaseAttrib('PerceptionTot','PerceptionUts','Perception','PerceptionPoangAttSattaUt')" class="btn btn-danger" value="Minska" id="longerButtons" />
            </div>
            <div class="col-md-8">
                <div class="row table-bordered">
                    <div class="col-md-2">
                        <label asp-for="@Model.PlayingCharacter.IntuitionValue"></label>
                    </div>
                    <div class="col-md-2" id="ParentIntuitionValue">
                        <input type="text" id="IntuitionValue" value="@Model.PlayingCharacter.IntuitionValue" class="form-control" asp-for="@Model.PlayingCharacter.IntuitionValue" />
                    </div>
                    <div class="col-md-2" id="ParentPerceptionPoangAttSattaUt">
                        <input type="text" id="PerceptionPoangAttSattaUt" value="50" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('IntuitionValue','PerceptionPoangAttSattaUt','IntuitionTp','IntuitionExp','IntuitionTTp')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('IntuitionValue','PerceptionPoangAttSattaUt','IntuitionTp','IntuitionExp','IntuitionTTp')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentIntuitionTp">
                        <input type="text" id="IntuitionTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.IntuitionTp" />
                    </div>
                    <div class="col-md-1" id="ParentIntuitionExp">
                        <input type="text" id="IntuitionExp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.IntuitionExp" />
                    </div>
                    <div class="col-md-1" id="ParentIntuitionTTp">
                        <input type="text" id="IntuitionTTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.IntuitionTTp" />
                    </div>

                </div>
                <div class="row table-bordered">
                    <div class="col-md-2">
                        <label asp-for="@Model.PlayingCharacter.MagicVisionValue"></label>

                    </div>
                    <div class="col-md-2" id="ParentMagicVisionValue">
                        <input type="text" id="MagicVisionValue" value="@Model.PlayingCharacter.MagicVisionValue" class="form-control" asp-for="@Model.PlayingCharacter.MagicVisionValue" />
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('MagicVisionValue','PerceptionPoangAttSattaUt','MagicVisionTp','MagicVisionExp','MagicVisionTTp')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('MagicVisionValue','PerceptionPoangAttSattaUt','MagicVisionTp','MagicVisionExp','MagicVisionTTp')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentMagicVisionTp">
                        <input type="text" id="MagicVisionTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.MagicVisionTp" />
                    </div>
                    <div class="col-md-1" id="ParentMagicVisionExp">
                        <input type="text" id="MagicVisionExp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.MagicVisionExp" />
                    </div>
                    <div class="col-md-1" id="ParentMagicVisionTTp">
                        <input type="text" id="MagicVisionTTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.MagicVisionTTp" />
                    </div>
                </div>
                <div class="row table-bordered">
                    <div class="col-md-2">
                        <label asp-for="@Model.PlayingCharacter.AttentionValue"></label>

                    </div>
                    <div class="col-md-2" id="ParentAttentionValue">
                        <input type="text" id="AttentionValue" value="@Model.PlayingCharacter.AttentionValue" class="form-control" asp-for="@Model.PlayingCharacter.AttentionValue" § />
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('AttentionValue','PerceptionPoangAttSattaUt','AttentionTp','AttentionExp','AttentionTTp')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('AttentionValue','PerceptionPoangAttSattaUt','AttentionTp','AttentionExp','AttentionTTp')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentAttentionTp">
                        <input type="text" id="AttentionTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.AttentionTp" />
                    </div>
                    <div class="col-md-1" id="ParentAttentionExp">
                        <input type="text" id="AttentionExp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.AttentionExp" />
                    </div>
                    <div class="col-md-1" id="ParentAttentionTTp">
                        <input type="text" id="AttentionTTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.AttentionTTp" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row table-bordered">
            <div class="col-md-2">
                <label asp-for="@Model.PlayingCharacter.SocialTot"></label>
            </div>
            <div class="col-md-1" id="Sociala">
                <input type="text" id="SocialTot" value="@Model.PlayingCharacter.SocialTot" class="form-control" asp-for="@Model.PlayingCharacter.SocialTot" />
                /
                <input type="text" id="SocialUts" value="@Model.PlayingCharacter.SocialUts" class="form-control" asp-for="@Model.PlayingCharacter.SocialUts" />
            </div>
            <div class="col-md-1">
                <Input type="button" onclick="IncreaseAttrib('SocialTot','SocialUts','Sociala','SocialaPoangAttSattaUt')" class="btn btn-success" value="Öka" />
                <input type="button" onclick="DecreaseAttrib('SocialTot','SocialUts','Sociala','SocialaPoangAttSattaUt')" class="btn btn-danger" value="Minska" id="longerButtons" />
            </div>
            <div class="col-md-8">
                <div class="row table-bordered">
                    <div class="col-md-2">
                        <label asp-for="@Model.PlayingCharacter.CharismaValue"></label>
                    </div>
                    <div class="col-md-2" id="ParentCharismaValue">
                        <input type="text" id="CharismaValue" value="@Model.PlayingCharacter.CharismaValue" class="form-control" asp-for="@Model.PlayingCharacter.CharismaValue" />
                    </div>
                    <div class="col-md-2" id="ParentSocialaPoangAttSattaUt">
                        <input type="text" id="SocialaPoangAttSattaUt" value="50" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('CharismaValue','SocialaPoangAttSattaUt','CharismaTp','CharismaExp','CharismaTTp')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('CharismaValue','SocialaPoangAttSattaUt','CharismaTp','CharismaExp','CharismaTTp')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentCharismaTp">
                        <input type="text" id="CharismaTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.CharismaTp" />
                    </div>
                    <div class="col-md-1" id="ParentCharismaExp">
                        <input type="text" id="CharismaExp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.CharismaExp" />
                    </div>
                    <div class="col-md-1" id="ParentCharismaTTp">
                        <input type="text" id="CharismaTTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.CharismaTTp" />
                    </div>

                </div>
                <div class="row table-bordered">
                    <div class="col-md-2">
                        <label asp-for="@Model.PlayingCharacter.InsightValue"></label>

                    </div>
                    <div class="col-md-2" id="ParentInsightValue">
                        <input type="text" id="InsightValue" value="@Model.PlayingCharacter.InsightValue" class="form-control" asp-for="@Model.PlayingCharacter.InsightValue" />
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('InsightValue','SocialaPoangAttSattaUt','InsightTp','InsightExp','InsightTTp')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('InsightValue','SocialaPoangAttSattaUt','InsightTp','InsightExp','InsightTTp')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentInsightTp">
                        <input type="text" id="InsightTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.InsightTp" />
                    </div>
                    <div class="col-md-1" id="ParentInsightExp">
                        <input type="text" id="InsightExp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.InsightExp" />
                    </div>
                    <div class="col-md-1" id="ParentInsightTTp">
                        <input type="text" id="InsightTTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.InsightTTp" />
                    </div>
                </div>
                <div class="row table-bordered">
                    <div class="col-md-2">
                        <label asp-for="@Model.PlayingCharacter.ResistanceValue"></label>

                    </div>
                    <div class="col-md-2" id="ParentResistanceValue">
                        <input type="text" id="ResistanceValue" value="@Model.PlayingCharacter.ResistanceValue" class="form-control" asp-for="@Model.PlayingCharacter.ResistanceValue" />
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <input type="button" onclick="IncreaseSubAttribute('ResistanceValue','SocialaPoangAttSattaUt','ResistanceTp','ResistanceExp','ResistanceTTp')" class="btn btn-success" value="Öka" />
                        <input type="button" onclick="DecreaseSubAttribute('ResistanceValue','SocialaPoangAttSattaUt','ResistanceTp','ResistanceExp','ResistanceTTp')" class="btn btn-danger" value="Minska" id="longerButtons" />
                    </div>
                    <div class="col-md-1" id="ParentResistanceTp">
                        <input type="text" id="ResistanceTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.ResistanceTp" />
                    </div>
                    <div class="col-md-1" id="ParentResistanceExp">
                        <input type="text" id="ResistanceExp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.ResistanceExp" />
                    </div>
                    <div class="col-md-1" id="ParentResistanceTTp">
                        <input type="text" id="ResistanceTTp" value="0" class="form-control" asp-for="@Model.PlayingCharacter.ResistanceTTp" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid table-bordered">
        <div class="row">
            <h2>Färdigheter och Talanger</h2>
        </div>
        <div class="row">
            <div class="col-md-1">
                Förmåga
            </div>
            <div class="col-md-1">
                TTP.
            </div>
            <div class="col-md-5">
                Talanger
            </div>
            <div class="col-md-5">
                Färdigheter
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.WeaponValue"></label>
            </div>
            <div class="col-md-1" id="WeaponTTpSkillParent">
                <span id="WeaponTTpSkill">0</span>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1" >
                <label asp-for="@Model.PlayingCharacter.BalisticValue"></label>
            </div>
            <div class="col-md-1" id="BalisticTTpSkillParent">
               <span id="BalisticTTpSkill">0</span>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1" >
                <label asp-for="@Model.PlayingCharacter.FineMotorValue"></label>
            </div>
            <div class="col-md-1" id="FineMotorTTpSkillParent">
                <span id="FineMotorTTpSkill">0</span>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.PhysicsValue"></label>
            </div>
            <div class="col-md-1" id="PhysicTTpSkillParent">
                <span id="PhysicTTpSkill">0</span>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.StrenghtValue"></label>
            </div>
            <div class="col-md-1" id="StrenghtTTpSkillParent">
                <span id="StrenghtTTpSkill">0</span>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.MobilityValue"></label>
            </div>
            <div class="col-md-1" id="MobilityTTpSkillParent">
                <span id="MobilityTTpSkill">0</span>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.WillValue"></label>
            </div>
            <div class="col-md-1" id="WillTTpSkillParent">
                <span id="WillTTpSkill">0</span>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.CreativityValue"></label>
            </div>
            <div class="col-md-1" id="CreativityTTpSkillParent">
                <span id="CreativityTTpSkill">0</span>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.EducationValue"></label>
            </div>
            <div class="col-md-1" id="EducationTTpSkillParent">
                <span id="EducationTTpSkill">0</span>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.IntuitionValue"></label>
            </div>
            <div class="col-md-1" id="IntuitionTTpSkillParent">
                <span id="IntuitionTTpSkill">0</span>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.MagicVisionValue"></label>
            </div>
            <div class="col-md-1" id="MagicVisionTTpSkillParent">
                <span id="MagicVisionTTpSkill">0</span>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.AttentionValue"></label>
            </div>
            <div class="col-md-1" id="AttentionTTpSkillParent">
                <span id="AttentionTTpSkill">0</span>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.CharismaValue"></label>
            </div>
            <div class="col-md-1" id="CharismaTTpSkillParent">
                <span id="CharismaTTpSkill">0</span>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.InsightValue"></label>
            </div>
            <div class="col-md-1" id="InsightTTpSkillParent">
                <span id="InsightTTpSkill">0</span>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label asp-for="@Model.PlayingCharacter.ResistanceValue"></label>
            </div>
            <div class="col-md-1" id="ResistanceTTpSkillParent">
                <span id="ResistanceTTpSkill">0</span>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Talang</button></div>
                <div class="col-md-10"></div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="col-md-2"><button class="btn btn-dark">Välj Färdighet</button></div>
                <div class="col-md-10"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid table-bordered">
        <div class="row">
            <h2>Krafter</h2>
        </div>
        <div class="row">
            Här kan du välja krafter till din karaktär.
        </div>
        @*<div class="row">
                <div class="col-md-2"><span class="font-weight-bold">Krafter</span></div>
                <div class="col-md-1"><span class="font-weight-bold">Inga</span></div>
                <div class="col-md-1"><span class="font-weight-bold">Novis</span></div>
                <div class="col-md-1"><span class="font-weight-bold">Elev</span></div>
                <div class="col-md-1"><span class="font-weight-bold">Lärare</span></div>
                <div class="col-md-1"><span class="font-weight-bold">Mästare</span></div>
                <div class="col-md-1"><span class="font-weight-bold">Extrem</span></div>
                <div class="col-md-1"><span class="font-weight-bold">Exalterad</span></div>
                <div class="col-md-1"><span class="font-weight-bold">S/E</span></div>
            </div>*@
        <table>
            <tr>
                <td><span class="font-weight-bold">Krafter</span></td>
                <td><span class="font-weight-bold">Inga</span></td>
                <td><span class="font-weight-bold">Novis</span></td>
                <td><span class="font-weight-bold">Elev</span></td>
                <td><span class="font-weight-bold">Lärare</span></td>
                <td><span class="font-weight-bold">Mästare</span></td>
                <td><span class="font-weight-bold">Extrem</span></td>
                <td><span class="font-weight-bold">Exalterad</span></td>
                <td><span class="font-weight-bold">S/E</span></td>
            </tr>
            @foreach (var kraft in Model.PlayingCharacter.PowerData)
            {
                <tr>
                    <td> <label class="font-weight-bold">@kraft.DisplayName</label></td>
                    <td id="@kraft.Id@kraft.CostLvl1">
                        @if (kraft.CostLvl1 == 0)
                        {
                            <input type="radio" name="@kraft.NameOfPower" value="@kraft.CostLvl1"  onclick="SelectPower(@kraft.Id,@kraft.CostLvl1,'CostLvl1',@kraft.NameOfPower)" class="CostLvl1" id="@kraft.Id" checked="checked"/><span>@kraft.CostLvl1 p</span>
                        }
                    </td>
                    <td id="@kraft.Id@kraft.CostLvl2">
                        @if (kraft.CostLvl2 != 0)
                        {
                            <input type="radio" name="@kraft.NameOfPower" value="@kraft.CostLvl2" onclick="SelectPower(@kraft.Id,@kraft.CostLvl2,'CostLvl2',@kraft.NameOfPower)" class="CostLvl2" /> <span>@kraft.CostLvl2 p</span>
                            
                        }
                    </td>
                    <td id="@kraft.Id@kraft.CostLvl3">
                        @if (kraft.CostLvl3 != 0)
                        {
                            <input type="radio" name="@kraft.NameOfPower" value="@kraft.CostLvl3" onclick="SelectPower(@kraft.Id,@kraft.CostLvl3,'CostLvl3',@kraft.NameOfPower)" class="CostLvl3"/><span>@kraft.CostLvl3 p</span>
                        }
                    </td>
                    <td id="@kraft.Id@kraft.CostLvl4">
                        @if (kraft.CostLvl4 != 0)
                        {
                            <input type="radio" name="@kraft.NameOfPower" value="@kraft.CostLvl4" onclick="SelectPower(@kraft.Id,@kraft.CostLvl4,'CostLvl4',@kraft.NameOfPower)" class="CostLvl4" /><span>@kraft.CostLvl4 p</span>
                        }
                    </td>
                    <td id="@kraft.Id@kraft.CostLvl5">
                        @if (kraft.CostLvl5 != 0)
                        {
                            <input type="radio" name="@kraft.NameOfPower" value="@kraft.CostLvl5" onclick="SelectPower(@kraft.Id,@kraft.CostLvl5,'CostLvl5',@kraft.NameOfPower)" class="CostLvl5"/><span>@kraft.CostLvl5 p</span>
                        }
                    </td>
                    <td id="@kraft.Id@kraft.CostLvl6">
                        @if (kraft.CostLvl6 != 0)
                        {
                            <input type="radio" name="@kraft.NameOfPower" value="@kraft.CostLvl6" onclick="SelectPower(@kraft.Id,@kraft.CostLvl6,'CostLvl6',@kraft.NameOfPower)" class="CostLvl6"/><span>@kraft.CostLvl6 p</span>
                        }
                    </td>
                    <td id="@kraft.Id@kraft.CostLvl7">
                        @if (kraft.CostLvl7 != 0)
                        {
                            <input type="radio" name="@kraft.NameOfPower" value="@kraft.CostLvl7" onclick="SelectPower(@kraft.Id,@kraft.CostLvl7,'CostLvl7',@kraft.NameOfPower)" class="CostLvl7"/><span>@kraft.CostLvl7 p</span>
                        }
                    </td>
                    <td><span>@kraft.FamilySpecificPower</span></td>
                </tr>
            }
        </table>
        @*@foreach (var kraft in Model.PlayingCharacter.PowerData)
            {*@
        @*<div class="row">
                <div class="col-md-2">
                    <label>@kraft.NameOfPower</label>
                </div>
                <div class="col-md-1">
                    @if (kraft.CostLvl1 == 0)
                    {
                        <input type="radio" name="@kraft.Id" value="@kraft.CostLvl1" checked="checked" /><span>@kraft.CostLvl1 p</span>
                    }
                </div>
                <div class="col-md-1">
                    @if (kraft.CostLvl2 != 0)
                    {
                        <input type="radio" name="@kraft.Id" value="@kraft.CostLvl2" /> <span>@kraft.CostLvl2 p</span>
                    }
                </div>
                <div class="col-md-1">
                    @if (kraft.CostLvl3 != 0)
                    {
                        <input type="radio" name="@kraft.Id" value="@kraft.CostLvl3" /><span>@kraft.CostLvl3 p</span>
                    }
                </div>
                <div class="col-md-1">
                    @if (kraft.CostLvl4 != 0)
                    {
                        <input type="radio" name="@kraft.Id" value="@kraft.CostLvl4" /><span>@kraft.CostLvl4 p</span>
                    }
                </div>
                <div class="col-md-1">
                    @if (kraft.CostLvl5 != 0)
                    {
                        <input type="radio" name="@kraft.Id" value="@kraft.CostLvl5" /><span>@kraft.CostLvl5 p</span>
                    }
                </div>
                <div class="col-md-1">
                    @if (kraft.CostLvl6 != 0)
                    {
                        <input type="radio" name="@kraft.Id" value="@kraft.CostLvl6" /><span>@kraft.CostLvl6 p</span>
                    }
                </div>
                <div class="col-md-1">
                    @if (kraft.CostLvl7 != 0)
                    {
                        <input type="radio" name="@kraft.Id" value="@kraft.CostLvl7" /><span>@kraft.CostLvl7 p</span>
                    }
                </div>
                <div class="col-md-1">
                    <span>@kraft.FamilySpecificPower</span>
                </div>
            </div>
        }*@

    </div>
    <div class="row">


    </div>



    <div class="container-fluid table-bordered">
        <div class="row">
            <h2>Magi</h2>
        </div>
    </div>
    <div class="container-fluid table-bordered">
        <div class="row">
            <h2>Kontakter</h2>
        </div>
        <div class="row">
            <select>
                <option label="drakekontakt"></option>
                @*<option label="@Model.PlayingCharacter.ContactDragon"></option>*@
            </select>
        </div>
    </div>
    <input type="submit" class="btn btn-danger" value="Skapa karaktär">
</form>

